/* .last-name {
    border: rgb(0, 255, 34) 5px solid;
    font-size: 22px;
    color: indigo;
    padding: 5px;
} */
.error-input {
    border: red 5px solid;
    font-size: 2222px;
    color: indigo;
    padding: 5px;
}
#list {
    color: red;
}
