.js-calculator {
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: cadetblue;
    padding: 22px;
    border: 1px solid black;
}
.js-calculator .operations-block button {
    height: 40px;
    width: 40px;
    margin: 20px;
}

.js-calculator .inputs-block .input-block {
    display: inline-block;
    padding: 10px;
    }

.js-calculator .inputs-block label {
    display: block;
}


